* {
    font-family: 'Helvetica Neue';
    font-weight: 100;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.value {
    font-size: 4rem;
    padding: 1rem;
}

.update {
    font-size: 1.5rem;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem;
    color: white;
    background-color: black;
    box-shadow: 0 0 1rem #555;
    outline: 0;
    transition: all 0.5s;
}

.update:hover {
    background-color: #444;
    box-shadow: 0 0 1rem #444;
}

.update:active {
    transform: translateY(0.4rem);
    box-shadow: 0 0 1rem #333;
}

.party {
    font-size: 2rem;
    margin: 1rem;
}